<div id="nav-container">
    <h1><a href="/">Nordic Rose</a></h1>
    <ul>
        <li><a href="/" class=nav-link>HOME</a></li>
        <li><a href="/articles" class=nav-link>ALL</a></li>
        <li><a href="/new-article" class=nav-link>NEW ARTICLE</a></li>
    </ul>
</div>