<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title><%= title %> </title>
</head>

<body>
    <%- include ('./components/nav.ejs') %>
    <header id="header-index">
        <img src="assets/img/img1.jpg" alt="">
        <h2>A few words about this blog platform, Ghost, and how this site was made</h2>
    </header>
    <main id="main-index">

    </main>
    <%- include ('./components/footer.ejs') %>
</body>

</html>